<!DOCTYPE html>
<html>
    <head>
        <title>文字列カウンタ</title>
        <link rel="stylesheet" href="{{ static_url("style.css") }}"/>
    </head>
    <body>
        <form method="post" action="/api/powerswitch">
            <input type="hidden" value="short" name="push_range">
            <input type="submit" value="Power Switch (On/Off)">
        </form>
        <form method="post" action="/api/powerswitch">
            <input type="hidden" value="long" name="push_range">
            <input type="submit" value="Force Reset">
        </form>
    </body>
</html>
