body {
    width: 80%;
    margin: 0 auto;
}

div {
    text-align: center;
}

p {
    padding-bottom: 3px;
    margin-bottom: 2px;
}

.button{
    width: 50%;
}

.textarea {
    width: 50%;
    height: 200px;
}
