<!DOCTYPE html>
<html>
  <head>
    <title>Remote Power Controller</title>
    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/sweetalert/js/sweetalert.min.js"></script>
    <script src="/static/mine/js/parts.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/sweetalert/css/sweetalert.css">
    <link rel="stylesheet" href="/static/mine/css/simple.css" type="text/css">
  </head>
  <body>
    <h1>Remote Power Controller</h1>

    <h2 class="">Operation</h2>
    <p><button class="cancel" onclick="pushPowerButton('short')">Power Off/On</button>
       <button class="cancel" onclick="pushPowerButton('long')">Force Reset</button></p>

    <h2 class="">Status</h2>
    <p>
        {{message}}
    </p>

    <h2 class="">Response</h2>
    <p>
      {% for result in results %}
        {{ result | nl2br }}
      {% endfor %}
    </p>
  </body>
</html>
