<!DOCTYPE html>
<html>
  <head>
    <title>Remote Power Controller API Documentation</title>
    <link rel="stylesheet" href="/static/mine/css/simple.css" type="text/css">
  </head>
  <body>
    <h1>Remote Power Controller API Documentation</h1>

    <table>
    <thead>
      <tr>
        <th>API</th>
        <th>method</th>
        <th>description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>/api/pwoff</td>
        <td>POST</td>
        <td>Power off which equals to pushing mechanical power switch in short time.</td>
      </tr>
      <tr>
        <td>/api/fcpwoff</td>
        <td>POST</td>
        <td>Force power off which equals to pushing mechanical power switch in long time.</td>
      </tr>
    </tbody>
    </table>

  </body>
</html>
